.card-contact {
    background-color: lighten($clr3, 20%);
    color: black;
    transition: background-color .3s;
    text-indent: 20px;

    .contact-tag {
        color: $clr6;
        font-size: rem(50px);
    }
    .contact-image {
        filter: grayscale(1);
        transition: transform .3s;
        max-width: 70%;
    }
    &:hover {
        cursor: pointer;
        background-color: $clr1;
        color: $clr6;
        font-weight: 500;
        
        // .contact-image {
        //     transform: scale(1.05);
        // }
    }
}